
*{
    font-family: 'agency-fb', nunito;
    margin:0; padding:0;
    box-sizing: border-box;
    border:none !important;
    outline: none !important;
    text-decoration: none !important;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .2s linear;
  }
body{
	background-image: url("images/Background.jpg");
	background-size: 1380px 700px;
}
html{
	font-size: 62.5%;
	overflow-x: hidden;
  }
.backgroundDiv img{
	width: 1380px;
	height: 700px;
}

/*Home Page*/
#form{
	background: #1a535c;
	margin-top: 1%;
	margin-right: 3%;
	width: 325px;
	height: 650px;
	opacity: 0.8;
	float: right;
	overflow: scroll;
}

#bar{
	border-bottom: 2px solid white;
	width: 966px;
	height: 100px;
	float: top;
	float: left;

}

#home{
	float: left;
	width: 100px;
	height: 50px;
	text-align: center;
	color: white;
	font-family: calibri;
	font-size: 18pt;
	margin-top: 5%;
	margin-left: 5%;
	opacity: 0.9;
}

#menu{
	float: left;
	width: 100px;
	height: 50px;
	text-align: center;	
	color: white;
	font-family: calibri;
	font-size: 18pt;
	margin-top: 5%;
	margin-left: 2%;
	opacity: 0.9;
}

#order{
	float: left;
	width: 150px;
	height: 50px;
	text-align: center;	
	color: white;
	font-family: calibri;
	font-size: 18pt;
	margin-top: 5%;
	margin-left: 4%;
	opacity: 0.9;
}

#team{
	float: left;
	width: 100px;
	height: 50px;
	text-align: center;	
	color: white;
	font-family: calibri;
	font-size: 18pt;
	margin-top: 5%;
	margin-left: 4%;
	opacity: 0.9;
}

#contact{
	float: left;
	width: 150px;
	height: 50px;
	text-align: center;	
	color: white;
	font-family: calibri;
	font-size: 18pt;
	margin-top: 5%;
	margin-left: 4%;
	opacity: 0.9;
}

a{
	color: white;
	text-align: center;
	font-size: 18pt;
	font-family: calibri;
	text-decoration: none;
	opacity: 0.9;
}
.btn{
	color: blue;
	text-align: center;
	font-size: 18pt;
	font-family: calibri;
	text-decoration: none;
	opacity: 0.9;
}
a:hover{
	color: #e20f0f;
}

#sign{
	float: left;
	width: 150px;
	height: 50px;
	text-align: center;	
	color: white;
	font-family: calibri;
	font-size: 18pt;
	margin-top: 5%;
	margin-left: 2%;
	opacity: 0.9;
}

#logo{
	margin-left: 15%;
	width: 200px;
	height: 150px;
}

#welcome{
	width: 300px;
	height: 100px;
	margin-top: 5%;
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 16pt;
	border-top: 2px solid white;
	padding-top: 10%;
}

#about{
	width: 270px;
	height: 150px;
	color: white;
	text-align: center;
	font-family: calibri;
	font-size: 12pt;
	margin-left: 5%;
	font-style: italic;
}

#reserve{
	width: 300px;
	height: 600px;
	color: white;
	margin-left: 2%;
	font-family: sans-serif;
	font-size: 16pt;
}

input, select{
	margin-left: 12%;
	background: transparent;
	font-size: 14pt;
	color: white;
	margin-bottom: 5%;
	text-align: center;
}

select{
	margin-left: 10%;
}

#members{
	margin-left: 1%;
	text-align: left;
	font-size: 11pt;
}

option{
	color:black;
}

#Advance{
	margin-left: 4%;
}

#name{
	margin-left: 8%;
	text-align: left;
	font-size: 11.5pt;
}

.submit{
	margin-top: 10%;
	width: 282px;
	height: 40px;
}


#s_btn{
	outline: none;
	background: #fdfdfc94;
	color: #ccc;
	width: 282px;
	height: 40px;
	border: 1px solid #1c0edd;
	font-size: 18pt;
	border-radius: 20px;
	transition: .6s;
	overflow: hidden;
}

#lbtn:hover, #s_btn:hover{
	background: rgb(21, 5, 240);
	cursor: pointer;
}
#bar #home{
  color: red; 
  font-family: calibri; 
  font-size: 18pt; 
  text-align: center;
}

#deals{
	margin: 2%;
	float: left;
	/*background: #f5b800;*/
	opacity: 0.9;
	width: 96%;
	height: 520px; 
}
#deals h1{
  color: rgb(161, 0, 0); 
  font-family: calibri; 
  text-align: center; 
  font-size: 28pt; 
  text-transform: uppercase;
}

#f_deal, #s_deal{
	float: left;
	margin-left: 3%;
	margin-top: 3%;
	width: 400px;
	height: 350px;
	position: relative;
	cursor: pointer;
	border: 5px solid white;
}

#f_pic, #s_pic{
	display: block;
	width: inherit;
	height: inherit;
}

#f_deal:hover #over, #s_deal:hover #over2{
	height: inherit;
}

#over, #over2{
	width: inherit;
	height: 00px;
	position: absolute;
	top: 0;
	background: #fdfdfc94;
	opacity: 0.9;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.8s ease;
}

#of{
	text-align: center;
	font-size: 22pt;
	font-family: calibri;
	color: white;
	padding: 5px;
	font-weight: bold;
	border: 5px solid white;
}
/*Featured*/

.featured .featured-slider .box{
  margin:2rem 0;
  position: relative;
  overflow: hidden;
  border:var(--border);
  text-align: center;
}

.featured .featured-slider .box:hover{
  border:var(--border-hover);
}

.featured .featured-slider .box .image{
  padding:1rem;
  background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image{
  transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
  height: 25rem;
}

.featured .featured-slider .box .icons{
  border-bottom: var(--border-hover);
  position: absolute;
  top:0; left:0; right: 0;
  background: #fff;
  z-index: 1;
  transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
  transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
  color:var(--black);
  font-size: 2.2rem;
  padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
  background:var(--green);
  color:#fff;
}

.featured .featured-slider .box .content{
  background:#eee;
  padding:1.5rem;
}

.featured .featured-slider .box .content h3{
  font-size: 2rem;
  color:var(--black);
}

.featured .featured-slider .box .content .price{
  font-size: 2.2rem;
  color:var(--black);
  padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
  font-size: 1.5rem;
  color:var(--light-color);
  text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
  border:var(--border-hover);
  height:4rem;
  width:4rem;
  color:var(--black);
  background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
  background: var(--black);
  color:#fff;
}

/*CONTACT US PAGE*/

/*Contact Us Page*/
#otherways{
	background: #395b50;
	margin-top: 1%;
	margin-right: 3%;
	width: 325px;
	height: 650px;
	opacity: 0.8;
	float: right;
}

#ways{
	border-top: 2px solid white;
	margin-top: 5%;
}

#detail{
	text-align: center;
	font-family: calibri;
	color: #fff;
	font-style: italic;
	font-size: 22pt;
}

.m_icon{
	margin-left: 8%;
	margin-top: 30%;
	font-size: 20pt;
	color: #fff;
	cursor: pointer;
}

.wt_icon, .mail_icon, .fb_icon, .tw_icon{
	margin-left: 8%;
	margin-top: 5%;
	font-size: 12pt;
	color: #fff;
	cursor: pointer;
}

.wt_icon:hover, .m_icon:hover, .mail_icon:hover, .fb_icon:hover, .tw_icon:hover{
	color:#0188DF;
}

b{
	text-align: left;
	padding-left: 5%;
	font-size: 12pt;
	font-family: calibri;
}

.contact_us{
	margin-top: 3%;
	margin-left: 15%;
	float: left;
	background: #331a00;
	opacity: 0.8;
	width: 500px;
	height: 500px;
}

#ct_head{
	color: white;
	font-size: 24pt;
	font-family: calibri;
	padding-top: 1%;
	text-align: center;
	background: #0188DF;
	width: inherit;
	height: 50px;
}

#nm{
	font-size: 16pt;
	color: white;
	text-align: left;
	margin-top: 20%;
	margin-left: 50px;
	padding-left: 10px;
	width: 400px;
	height: 40px;
	background: #1d0f00;
	border: none;
	outline: none;
}

.loader-container{
	position: fixed;
	top:0; left: 0;
	height:100%;
	width: 100%;
	z-index: 10000;
	background:#f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .loader-container.active{
	display: none;
  }
  
  .loader-container img{
	height:10rem;
  }
  .loader-container.fade-out{
	  top:-110%;
	  opacity:0;
  }
  
#eml{
	font-size: 16pt;
	color: white;
	text-align: left;
	margin-top: 1%;
	margin-left: 50px;
	padding-left: 10px;
	width: 400px;
	height: 40px;
	background: #1d0f00;
	border: none;
	outline: none;
}

textarea{
	font-family: calibri;
	font-size: 16pt;
	color: white;
	text-align: left;
	width: 400px;
	height: 125px;
	margin-top: 1%;
	margin-left: 50px;
	padding-left: 10px;
	background: #1d0f00;
	border:none;
	outline: none;
}

#send{
	text-align: center;
	font-size: 16pt;
	color: #ccc;
	margin-top: 4%;
	float: right;
	width: 100px;
	height: 40px;
	margin-right: 40px;
	background: none;
	outline: none;
	transition: 1s;
	border: 1px solid #e28d26;
}

#send:hover{
	background: #e28d26;
}
